# APIs
NUXT_PUBLIC_CONTRATACION_API_URL=https://contrataciondelestado.es/wps/portal/api
NUXT_PUBLIC_DATOS_GOB_API_URL=https://datos.gob.es/api/3/action
NUXT_PUBLIC_TRANSPARENCY_API_URL=https://transparencia.gob.es/api/v1
NUXT_PUBLIC_BACKUP_API_URL=https://backup-api.datosenabierto.es/api/v1

# Analytics
NUXT_PUBLIC_ANALYTICS_ID=your_analytics_id